<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sumac movie recommender</title>
</head>
<body>
    <h1 style="color:green">Hello world</h1>
    <p>This application recommends movies to users! </p>
    <form action="/recommender">
        Movie1:
        <input type="text" name="movie1" placeholder="0.0 - 5.0">
        <br><br>
        Movie2:
        <input type="text" name="movie2" placeholder="0.0 - 5.0">
        <br><br>
        Movie3:
        <input type="text" name="movie3" placeholder="0.0 - 5.0">
        <br><br>
        Movie4:
        <input type="text" name="movie4" placeholder="0.0 - 5.0">
        <br><br>
        Movie5:
        <input type="text" name="movie5" placeholder="0.0 - 5.0">
        <br><br>
        <input type="submit">

    </form>
</body>
</html>