<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sumac movie recommender</title>
</head>
<body>
    <h1 style="color:green">Hello world</h1>
    <p>This application recommends movies to users! </p>
    <form action="/recommender">
        <select name="method">
            <option>random</option>
            <option>popular</option>
            <option>nmf</option>
            <option>cluster</option>
        </select>
        <br><br>
        Movie1:
        <input type="text" name="movie1" placeholder="0.0 - 5.0">
        <br><br>
        Movie2:
        <input type="text" name="movie2" placeholder="0.0 - 5.0">
        <br><br>
        Movie3:
        <input type="text" name="movie3" placeholder="0.0 - 5.0">
        <br><br>
        Movie4:
        <input type="text" name="movie4" placeholder="0.0 - 5.0">
        <br><br>
        Movie5:
        <input type="text" name="movie5" placeholder="0.0 - 5.0">
        <br><br>
        <input type="submit">

    </form>


    <!-- <form>
        <select> name="method"
        <option>random</option>
        <option>nmf</option>
        <option>clustering</option>
        <option>popular</option>
        </select>
        <br><br>
        <input type="text" name="movie1" placeholder="movie1">
        <input type="text" name="rating1" placeholder="0 - 5"><br><br>
        <input type="text" name="movie2" placeholder="movie2">
        <input type="text" name="rating2" placeholder="0 - 5"><br><br>
        <input type="text" name="movie3" placeholder="movie3">
        <input type="text" name="rating3" placeholder="0 - 5"><br><br>


    </form> -->
</body>
</html>